
<div class="container" style="padding-top: 80px ">
       
<h1>Who We Are ?</h1>

<h5>WE ARE A <strong><a title="Advance Transcription Service" routerLink='' style="color: #001399;">MEDICAL 
    TRANSCRIPTION SERVICE</a></strong> 
    HEADQUARTERED IN ST. PETERSBURG, FLORIDA. WE ARE BELIEVERS THAT COMPUTERS
     CAN NOT REPLACE DOCTORS. WE ARE ABOUT TO MAKE MEDICAL REPORTING EASIER FOR YOU.</h5>
     <br>
    <p>Advance Transcription is a 100% HIPAA compliant 
        medical transcription  outsourcing company in USA
        that provides medical professionals with fast and accurate 
        medical transcription &amp; dictation service.
        We are committed to providing exceptional service to clinics and hospitals 
        across the United States and Canada.
        <br>

        Our service offers 24/7 coverage.
        We offer 12 to 24 hours of turnaround time.
        There are no set up fees, no hidden cost, and no monthly minimum, 
        and we can start in as little as 24 hours.</p>
        <br><br>
         
     <div class="inner-section">
         <h2>Get Perfect Transcripts for Your Medical Recordings!</h2>
         <hr>
         Advance Transcription Services, is a U.S-based medical transcription 
         services company providing reliable transcription solutions.
         <br>
         We serve all states in the United States and provide superior EHR-integrated transcription 
         services for various medical specialties, clinics, group practices, individual physicians and
         hospitals. We focus on ensuring accuracy for all projects we undertake
     </div>

     <div class="inner-section">
     <h2>Fast Turnaround Time</h2>
     <hr>
        One of the biggest complaints that most physicians’ offices have with the
        medical transcription service they are currently using is that they offer 
        such slow turnaround time. While there are times when time is not of the essence, 
        for the most part if you do not get your transcriptions back within 24 hours, 
        it can have a negative impact on your ability to care for your patients
        <br><br>
        While 24 hours may be good enough for the average medical 
        transcription service, we take pride in being better than most. 
        You can dictate your notes from any telephone or into a digital 
        recorder and we will have it transcribed and returned to you within 
        12-24 hours and guarantee it to be one hundred percent accurate. 
        This is amongst the best in the industry and you never have to worry about a language barrier
    </div>

    <div class="inner-section">
           <h2>HIPPA Compliant</h2> 
            <hr>
                Sunrise Transcription fully understands the importance of data security in the healthcare 
                industry. Our HIPAA compliance strategy is based on three dimensions providing 
                complete end-to-end security of our client’s data.
                <br><br>
           <ul class="complaints" style="padding-left: 30px">
                <li style="list-style: square">Technology</li>
                <li style="list-style: square">Facilities &amp; Infrastructure</li>
                <li style="list-style: square">People &amp; Processes</li>
           </ul>
    </div>

    <div class="inner-section">
            <h2>Secure Technology</h2>
         <hr>
            Our technology incorporates the best security features like 128-bit data encryption, 
            multi-tiered application architecture, design level security safeguards, firewall 
            protected networks, sterilized e-mail servers, denial of access procedures and multi-modal 
            alerts. All our systems are under continuous improvement to handle emerging technology 
            changes
    </div>

    <div class="inner-section secure-facilities">
            <h2>Secure Facilities &amp; Infrastructure</h2>
         <hr>
            While secure technology is one of the physical dimensions of our security policy, 
            the other is secure facilities & infrastructure. We ensure that security at all our 
            work facilities & infrastructure is 100%. Using only company owned & managed facilities,
            not engaging any home medical transcriptionists, employing manned security at the entry/exit
            points, round-the-clock video surveillance and the lack of removable storage media are some 
            of the measures we take to repare your data
    </div>

        <div class="inner-section secure-facilities">
                 <h2>Secure Facilities &amp; Aware People</h2>
                 <hr>
                  The third dimension of security involves the way that we handle our 
                  processes and train our people to understand the importance of data security. 
                  Every line that we transcribe is done at our premises – nothing is sub-contracted out.
                  This ensures that we are in total control of end-to-end data flow. Apart from this,
                  elaborate security routines, periodic security audits, restricted internal mail and e-mail access,
                  limiting access to confidential data through joint access procedures, HIPAA training, legal 
                  undertakings from all our employees are some of the other steps to ensure total security
        </div>
</div>
