<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a routerLink=''>
                                <!-- <img src="/assets/images/logo.png" alt=""> -->
                                <img src="/assets/images/AdvanceTranscriptionLogo.png" style="height: 53px" alt="">
                            </a>
                        </div>
                        <p class="address_text">We are a medical transcription service headquartered in
                             St. Petersberg, Florida. <br>
                             We are believers that computers can 
                             not <br>
                             replace doctors.
                             We are about to make <br>
                             medical 
                             reporting
                             easier for you.
                        </p>
                    </div> 
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Navigation
                        </h3>
                        <ul class="links">
                         
                            <li><a routerLink=''>Home</a></li>
                            <li><a routerLink='/about'>About</a></li>
                            <li><a routerLink='/howItWorks'>How It works</a></li>
                            <li><a routerLink='/hippa'>HIPPA</a></li>
                            <li><a routerLink='/blog'>Blog</a></li>
                            <li><a routerLink='/practiceFusion'>Practice Fusion</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4  col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                           Contact Info
                        </h3>
                        <ul class="meting_time">
                            <li>10040 18th Street. N. Suite 6 #68692
                                St. Petersburg, FL 33716, United States
                                info@EMRtranscription.com
                            </li>
                            
                            <li>(+1) 800 440 972 97</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="row">
                <div class="bordered_1px "></div>
                <div class="col-xl-12">
                    <p class="copy_right text-center">
Copyright &copy; Advance Transcriptions 
</p>
                </div>
            </div>
        </div>
    </div>
</footer>