
<div class="container" style="padding-top: 80px ">
       
            <h1>iShuttle Voice Recorder App for iPhone </h1>
            <br>
                 <div class="inner-section">
                     <h2>Finally, a better way to dictate!</h2>
                     <hr>
                    <ul>
                        <li class="squareList" style="margin-left: 30px"><b> iShuttle</b> is a new application from Advance 
                        Transcription that turns your iPhone into the best voice recorder and dictation system on the
                         planet</li>
                         <br>
                        <li class="squareList" style="margin-left: 30px"><b> iShuttle </b>application is full featured and allows
                         the user to record any number of voice dictations and store them on your iPhone</li>
                         <br>
                        <li class="squareList" style="margin-left: 30px">When ready, with a single click, you can upload them 
                        wirelessly using either a Wi-Fi or cellular connection to the Advance Transcription server for 
                        transcription by your existing transcriptionis</li>
                        <br>
                        <li class="squareList"  style="margin-left: 30px">All data transfer between your iPhone and the <b> iShuttle</b>
                             web server is handled in a secure, HIPAA compliant fashion.</li>
                             <br>
                        <li class="squareList"  style="margin-left: 30px"><b> iShuttle</b> application is free to download and use for voice recording for anyone.</li>
                    </ul>
                 </div>
            </div>
            