
<div class="container" style="padding-top: 80px ">
       
    <h1>Your Practice Fusion EMR Transcription Partner!  
     </h1>
    <br>
    <p class="para1">Advance Transcription is your trusted Practice Fusion transcription services 
        provider, established in 1999. Our professional EMR transcriptionists are all US-based and 
        our solution is 100% integrated with Practice Fusion</p> 
    
         <br>
    <p class="para1">
            Simply dictate your SOAP note into an iPhone app or Olympus Professional Recorder and our 
            US-based EMR Transcriptionists will transcribe directly into your Practice Fusion account!
    </p>
      
    <br>             
         <div class="inner-section">
             <h2>Sign up today and receive a 30-MINUTE FREE NO OBLIGATION TRIAL!</h2>
             <hr>
            <ul>
                <li class="squareList" style="margin-left: 30px">100% US-based Medical Transcriptionists</li>
                <li class="squareList" style="margin-left: 30px">24 to 48 hour turn around time!</li>
                <li class="squareList" style="margin-left: 30px">Fully integrated Practice Fusion solution</li>
                <li class="squareList"  style="margin-left: 30px">Toll free telephone dial in dictation (included!)</li>
                <li class="squareList"  style="margin-left: 30px">Dictate via iPhone app or Olympus Recorder (sold separately)</li>
                <li class="squareList"  style="margin-left: 30px">Dedicated account manager</li>
                <li class="squareList"  style="margin-left: 30px">ICD-10 supported documentation</li>
                <li class="squareList"  style="margin-left: 30px">HIPAA Compliant</li>
            </ul>
         </div>
    
         <div class="inner-section">
            <h2>It’s All About the Quality</h2>
            <hr>
            <p class="para1"> Advance Transcription’s US-based Certified Medical Transcriptionists adhere to the highest 
            professional standards of Medical Transcription with many years of experience in the 
            Healthcare Industry. You can be confident that highly trained and experienced professionals
            will be producing your clinical documentation</p>
        </div>
        
        <div class="inner-section">
            <h2>Rapid Delivery (Turnaround-Time)</h2>
            <hr>
       <p class="para1">
            By leveraging our QA process and eliminating errors, Advance Transcription has a 
            streamlined workflow for producing your transcribed chart notes. This efficient business 
            process results in quicker turnaround-time delivery for you.
            Advance Transcription is uniquely organized to service Healthcare Providers of any size and 
            of varying specialties. Our Management team monitors daily trends to ensure that documentation
            delivery requirements are always met
        </p>
        </div>

            
        <div class="inner-section">
                <h2>Customer Service</h2>
                <hr>
           <p class="para1">
                Advance Transcription will assign a dedicated team to your account lead by an Account 
                Manager. We believe this to be the best way for our staff to know all the specifics about 
                your organization and become experts in assisting you with any documentation needs
                throughout your workday
            </p>
            </div>
    </div>
    