 <!-- slider_area_start -->

 <div class="slider_area" style="padding-top: 75px">
    <div class="slider_active owl-carousel">
                <div class="single_slider  d-flex align-items-center slider_bg_1 overlay img-responsive" >
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text">
                            <span>Get hassle-free medical transcription services with EHR Transcriptions</span>
                            <h3> <span style="font-size: 43px">Advance Transcription Services</span><br>
                                <a href="https://advancetranscription.wufoo.com/forms/z82i7hz1e1m3hc/" 
                                class="boxed-btn5 btn btn-primary">Discover More</a>
                                <!-- <span style="font-size: 43px">Services</span> -->
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- welcome_clicnic_area_start -->
<div class="" style="margin-top: 44px">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="assets/images/about/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_docmed_info">
                    <h3>Affordable Medical Transcription Services
                        <!-- <span>Modern Clinic.</span> -->
                    </h3>
                    We are a medical transcription service headquartered in St. Petersberg,
                         Florida USA. Advance Transcription has been providing high 
                         quality medical transcription services online at affordable prices.
                          We assist doctors, clinics, medical research centers, physicians,
                           and hospitals to meet their transcription requirements
                  
                    Our service offers 24/7 coverage. We offer 12 to 24 hours of turnaround time. 
                    There are no set up fees, no hidden cost, and no monthly minimum,
                    and we can start in as little as 24 hours
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome_clicnic_area_end -->


<!-- expert_doctors_area_start -->
<div class="expert_doctors_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6">
                <div class="section_title mb-55 text-center">
                   <h3>Options Available</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_expert">
                    
                    <div class="expert_thumb">
                        <!-- <img src="assets/images/experts/1.png" alt=""> -->
                        <img src="assets/images/about/callCenter.jpg" style="height: 200px;width: 180px ;margin-left: 78px" class="img-responsive" alt=""> 
                    </div>
                    <div class="experts_name text-center">
                        <h3>Dictation options</h3>
                        <span>Dictate from any telephone to our Toll-Free dictation line, 
                            available 24/7/365.Use a portable, handheld digital recorder.
                            Use your iPhone or Android smartphones to dictate using our mobile dictation app</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_expert">
                    <div class="expert_thumb">
                        <!-- <img src="assets/images/experts/2.png" alt=""> -->
                        <img src="assets/images/about/deliver.png" style="height: 200px;width: 180px;margin-left: 78px" class="img-responsive" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Delivery options</h3>
                        <span>Secure e-mail delivery.Web-based download
                             from our secure server.Delivery to your network, 
                             (FTP, SFTP, WebDAV, etc.)EMR interfacing</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_expert">
                    <div class="expert_thumb">
                        <!-- <img src="assets/images/experts/3.png" alt=""> -->
                        <img src="assets/images/about/dollar.jpg" style="height: 200px;width: 180px; margin-left: 78px" class="img-responsive" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Pricing</h3>
                        <span>We charge $1 per minute. Please contact us for a custom quote.
                            Clearly defined so you can always verify your bill.No setup fees.
                            Contracts available but not required.
                            Try us. We are confident you will be happy with our service.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- expert_doctors_area_end -->