<div style="margin-top: 100px;">
        <h2>Login</h2>
        <br>
        <div class="btn-group marg">
            <img src="../../../assets/images/PinClipart.com_kids-sleeping-clip-art_2098523.png" alt="">
            <button type="button" class="btn btn-primary" style="background-color: darkgreen;">Exavault Login</button>
        </div>
        <hr>
        <div class="btn-group marg" style="margin-left: 50%">
            <img src="../../../assets/images/PinClipart.com_kids-sleeping-clip-art_2098523.png" alt="">
            <button type="button" class="btn btn-primary" style="background-color: goldenrod;">Medi-host Login</button>
        </div>
        <hr>
        <div class="btn-group marg">
            <img src="../../../assets/images/PinClipart.com_kids-sleeping-clip-art_2098523.png" alt="">
            <button type="button" class="btn btn-primary" style="background-color: crimson;">Webshuttle Login</button>
        </div>
        <br><br>
</div>

