<div class="container" style="margin-top: 80px; margin-left: 203px;"> 
    <h2 style="margin-left: 185px">How It Works !</h2><br>
    <div style="padding-bottom: 40px;width: 100%;display: table;">
        <h3 class="experts_name">Flexible Dictating Options</h3>
        <ul style="width: auto;display: table;margin: 0px;float: left;padding-right: 40px;margin-left: 35px">
           <li class="squareList"> Toll-free telephone dictation (free on all accounts).</li>
           <li class="squareList">Digital voice recorder.</li>
           <li class="squareList">iPhone & Android apps</li>
        </ul>

    </div>
    <div style="padding-bottom: 20px;width: 100%;display: table;">
        <h3>True-Track Transcription Trail. HIPAA Compliance</h3>
        <ul style="width: auto;display: table;margin: 0px;float: left;padding-right: 40px; margin-left: 35px">
           <li class="squareList">Secure VPN connection, 528-bit encryption</li>
           <li class="squareList">HIPAA compliant systems and processes</li>
           <li class="squareList">Dictation immediately tagged for 100% auditing and tracking</li>
        </ul>
    </div>

    <div style="padding-bottom: 20px;width: 100%;display: table;">
        <h3>Dedicated transcriptionist, Personalized formatting, Triple Proof Accuracy</h3>
        <ul style="width: auto;display: table;margin: 0px;float: left;padding-right: 40px;margin-left: 35px">
           <li class="squareList">Files routed to doctor’s dedicated transcription team</li>
           <li class="squareList">Trademarked three-phase quality assurance process</li>
           <li class="squareList">100% web-based: Mac® or Windows®, any browser</li>
           <li class="squareList">No software to install.</li>
           <li class="squareList">Customized interfaces available for EMR systems for automatic report transfer</li>
        </ul>
    </div>

    <div style="padding-bottom: 20px;width: 100%;display: table;">
        <h3>Reports posted within 24 hours for work submitted daily</h3>
        <ul style="width: auto;display: table;margin: 0px;float: left;padding-right: 40px;margin-left: 35px">
           <li class="squareList">View, edit, e-sign, fax with a click</li>
           <li class="squareList">Download or print from system</li>
           <li class="squareList">Reports indexed for future access</li>
        </ul>
    </div>
</div>