<div class="container" style="margin-top: 170px; margin-left: 203px;"> 
    <h2 style="margin-left: 185px">How It Works !</h2><br>
    <div style="padding-bottom: 40px;width: 100%;display: table;">
        <h3 class="experts_name">Flexible Dictating Options</h3>
        <ul style="width: auto;display: table;margin: 0px;float: left;padding-right: 40px;">
           <li class="glyphicon glyphicon-ok"> Toll-free telephone dictation (free on all accounts).</li>
           <li>Digital voice recorder.</li>
           <li>iPhone & Android apps</li>
        </ul>

    </div>
    <div style="padding-bottom: 20px;width: 100%;display: table;">
        <h3>True-Track Transcription Trail. HIPAA Compliance</h3>
        <ul style="width: auto;display: table;margin: 0px;float: left;padding-right: 40px;">
           <li class="glyphicon glyphicon-ok">Secure VPN connection, 528-bit encryption</li>
           <li>HIPAA compliant systems and processes</li>
           <li>Dictation immediately tagged for 100% auditing and tracking</li>
        </ul>
    </div>

    <div style="padding-bottom: 20px;width: 100%;display: table;">
        <h3>Dedicated transcriptionist, Personalized formatting, Triple Proof Accuracy</h3>
        <ul style="width: auto;display: table;margin: 0px;float: left;padding-right: 40px;">
           <li>Files routed to doctor’s dedicated transcription team</li>
           <li>Trademarked three-phase quality assurance process</li>
           <li>100% web-based: Mac® or Windows®, any browser</li>
           <li>No software to install.</li>
           <li>Customized interfaces available for EMR systems for automatic report transfer</li>
        </ul>
    </div>

    <div style="padding-bottom: 20px;width: 100%;display: table;">
        <h3>Reports posted within 24 hours for work submitted daily</h3>
        <ul style="width: auto;display: table;margin: 0px;float: left;padding-right: 40px;">
           <li>View, edit, e-sign, fax with a click</li>
           <li>Download or print from system</li>
           <li>Reports indexed for future access</li>
        </ul>
    </div>
</div>