<div class="card-container">
    <h2>Blogs</h2>
    <br>
    <div class="card">
        <div class="row" style="padding: 20px;">
            <div class="col-3">
                <img src="../../../assets/images/free-images-for-blogs.jpeg" alt="Avatar">
            </div>
            <div class="col-9">
                <div class="container">
                  <h4><b>This is the blog header</b></h4>
                  <h6>This is the blog sub heading</h6>
                  <p>This is blog paragraph</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="row" style="padding: 20px;">
            <div class="col-3">
                <img src="../../../assets/images/free-images-for-blogs.jpeg" alt="Avatar">
            </div>
            <div class="col-9">
                <div class="container">
                  <h4><b>This is the blog header</b></h4>
                  <h6>This is the blog sub heading</h6>
                  <p>This is blog paragraph</p>
                </div>
            </div>
        </div>
    </div>
</div>