
<div class="container" style="padding-top: 80px ">
       
<h1>Health Insurance Portability and  <br> Accountability Act (HIPAA)
 </h1>

<h5>The Health Insurance Portability and Accountability A
    ct (HIPAA) was enacted under President Bill Clinton in 1996. 
    This law ensures the continuity of healthcare coverage for individuals 
    changing jobs and includes a provision that impacts on the management of 
    heath information; seeks to simplify the administration of health insurance; 
    and aims to combat waste, fraud, and abuse in health insurance and healthcare.</h5>
     <br>
    <!-- <p>Advance Transcription is a 100% HIPAA compliant 
        medical transcription  outsourcing company in USA
        that provides medical professionals with fast and accurate 
        medical transcription &amp; dictation service.
        We are committed to providing exceptional service to clinics and hospitals 
        across the United States and Canada.
        <br>

        Our service offers 24/7 coverage.
        We offer 12 to 24 hours of turnaround time.
        There are no set up fees, no hidden cost, and no monthly minimum, 
        and we can start in as little as 24 hours.</p>
        <br><br> -->
         
     <div class="inner-section">
         <h2>Key implications of HIPAA include</h2>
         <hr>
        <ul>
            <li class="squareList" style="margin-left: 30px">Requires healthcare organizations to completely rethink the manner in which they protect the security and privacy of patients and consumers
                </li>
            <li class="squareList" style="margin-left: 30px">
                    Mandates standard formats for the most common transactions between healthcare organizations</li>
            <li class="squareList" style="margin-left: 30px">
                    Many healthcare organizations will need to replace or substantially change their current systems and processes</li>
        </ul>
     </div>

     <div class="inner-section" style="text-align: center;background-color: lightcyan">
     Advance Transcription HIPAA Compliance Advance Transcription believes that emerging privacy 
     and security requirements captured by regulations such as HIPAA are an important improvement 
     to the healthcare industry. We believe the changes required are achieved by policy and process 
     controls and technology upgrades. This includes all associates from the United States, India, and 
     the Philippines signing a non-disclosure/confidentiality policy statement
     <br> <br> <br>
     As a provider of services to the medical industry, Advance Transcription has formed an internal
     HIPAA task force that includes the participation of a cross-section of its internal departments.
     This task force is charted with ensuring that all new Advance Transcription associates must
     complete HIPAA training on privacy and security. It is also required for all Advance Transcription
     associates to update their training annually. HIPAA security compliance rules are also enforced 
     in the development and installation of all Advance Transcription applications. This ensures 
     reasonable maintenance of appropriate administration, technical and physical safeguards for the 
     integrity and confidentiality of all PHI that Advance Transcription receives or processes for our
     customers. Currently, we believe our service offering meets or exceeds HIPAA and The Joint
     Commission regulations. We seek input from HIPAA consultants to ensure current compliance and
     to maintain superior confidentiality of patient records
    </div>
</div>
